.classpath
.project
.settings/
classes/
generated/
*-stub/
stub/
lib/
build/
*logs/
*.log
target/
dist/
.svn/
.git/
.vs/
.nuget/
.idea/
bin/
obj/
TestResults/
*.csproj.user
*.sln.DotSettings.user
*.nupkg
*.bak
*.~*
*.zip
*.tar
*.a
*.dll
*.obj
*.class
*.jar
*.err
*.iml
dep.tree.txt
.experimental/